<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugui.dataxweb.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wugui.dataxweb.entity.UserEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uc_uid" jdbcType="BIGINT" property="ucUid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="admin" jdbcType="BIT" property="admin" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password_hash" jdbcType="VARCHAR" property="passwordHash" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uc_uid, username, admin, phone, password_hash,
    name, sex, create_user_id, create_time,
    update_time
  </sql>

  <select id="getByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_entity
    where username = #{username,jdbcType=VARCHAR}
  </select>


  <insert id="insertSelectiveUser" parameterType="com.wugui.dataxweb.entity.UserEntity" keyProperty="id" useGeneratedKeys="true">
    insert into user_entity
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="username != null">
        username,
      </if>
      <if test="admin != null">
        admin,
      </if>

      <if test="phone != null">
        phone,
      </if>
      <if test="passwordHash != null">
        password_hash,
      </if>

      <if test="name != null">
        name,
      </if>

      <if test="sex != null">
        sex,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>

      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="admin != null">
        #{admin,jdbcType=BIT},
      </if>

      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        #{passwordHash,jdbcType=VARCHAR},
      </if>

      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>

      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelectiveUser" parameterType="com.wugui.dataxweb.entity.UserEntity">
    update user_entity
    <set>

      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="admin != null">
        admin = #{admin,jdbcType=BIT},
      </if>

      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        password_hash = #{passwordHash,jdbcType=VARCHAR},
      </if>

      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>

      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    user_entity
  </select>

  <select id="countByUsername" resultType="java.lang.Integer">
    select count(id) from user_entity
    where username = #{username}
  </select>



</mapper>